html {
  scroll-behavior: smooth;
  background: black;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding: 10px;
  color: white;
  user-select: none;
  font-family: Inter;
  line-height: 150%;
  min-width: 360px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/*---------------------------header-----------------------------*/

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  height: 60px;
  margin: auto;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
}

.company a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-family: 'Iowan Old Style';
  font-size: 2rem;
  transition: 0.7s;
}


@media (hover:hover) {
  .company a:hover {
    transform: scale(1.1);
  }
}

.company a:active {
  transition: 0.2;
  transform: scale(0.9);
  letter-spacing: 0;
}

.company__logo {
  width: 44px;
}

.menu {
  transition: 1s;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.menu__list__item {
  transition: 0.5s;
}

.menu__contacts {
  width: 100%;
  text-align: center;
  display: none;
}

.menu__contacts a {
  margin: 5px;
  cursor: pointer;
}

.whatsapp {
  display: none;
  transition: 0.7s;
}

.whatsapp img {
  width: 30px;
}

.header__burger-menu {
  display: none;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark, white);
  background: none;
  position: relative;
  transition: 1s;
  cursor: pointer;
}

.header__burger-menu::before {
  content: '';
  width: 17.5px;
  height: 1.5px;
  display: block;
  background: white;
  position: absolute;
  left: 12px;
  top: 16px;
  border-radius: 100px;
  transition: 1s;
}

.header__burger-menu::after {
  content: '';
  width: 17.5px;
  height: 1.5px;
  display: block;
  background: white;
  position: absolute;
  left: 12px;
  top: 24px;
  border-radius: 100px;
  transition: 1s;
}

.header__burger-menu_click::before {
  top: 20px;
  rotate: 45deg;
}

.header__burger-menu_click::after {
  top: 20px;
  rotate: -45deg;
}

@media (hover:hover) {
  .menu__list__item:hover,
  .header__burger-menu:hover {
    transform: scale(1.1);
  }
}

.menu__list__item:active,
.header__burger-menu:active {
  transition: 0.2s;
  transform: scale(0.9);
}

/*--------------------------------------------------------*/

@media (max-width: 900px) {
  .menu {
    position: absolute;
    right: 0;
    top: 60px;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    transform: translateX(-150%);
    height: calc(100vh - 70px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .menu_show {
    transform: translateX(0);
  }

  .menu__contacts {
    display: block;
  }

  .menu__list {
    display: block;
    padding: 0;
  }

  .menu__list__item {
    width: fit-content;
    margin: 20px auto;
  }

  .header__burger-menu {
    display: block;
  }

  .whatsapp {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
  }
}

@media (max-width: 460px) {
  .whatsapp {
    font-size: 0.8rem;
  }
  .company a {
    font-size: 1.5rem;
  }
}